<div class="mind-tutorial-reward mind-flex-center {{styleNamespace}}">
  <h2 class="mind-semi-big-text">
    Your coins are safe!
  </h2>

  <div class="mind-cah-border mind-back-wallet">
    <hr>
    <div class="mind-flex-space-between">
      <p class="mind-button-typography">{{wallet.points}}CC</p>
      <img src="assets/images/common/logo.png">
    </div>
  </div>

  <p class="mind-text">
    Your coins were successfully transferred to your wallet. Now you can use them
    to get real prizes or save them to increase your amount of coins. The more
    coins you get the better prizes you can get!
  </p>

  <button {{on "click" this.selectPrizes}} class="mind-button mind-small-text">
    Get Prizes
  </button>
</div>