<div class="mind-flex-space-between {{styleNamespace}}">
  <div class="mind-flex-space-between">
    <p class="mind-small-text">{{if wallet wallet.points "-"}}CC</p>
    <FaIcon @icon="wallet"/>
  </div>
  <div class="mind-flex-space-between">
    <p class="mind-small-text">{{rewardCounter}}CC</p>
    <FaIcon @icon="coins"/>
  </div>
</div>