<div class={{styleNamespace}}>
  <div class="mind-cover-parent"
       {{did-update this.flipQuestion this.topDeckCard}}>
    <p class="mind-cah-border mind-text mind-flex-center mind-cover-parent">
      {{frontQuestion}}
    </p>
    <p class="mind-cah-border mind-text mind-flex-center mind-cover-parent">
      {{backQuestion}}
    </p>
  </div>
</div>